* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.article-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: crimson;
  color: white;
}

.article-header .header-block {
  padding: 1em;
  border-left: 1px solid #f1ecec;
  border-right: 1px solid #f1ecec;
}

.article-header .header-block:first-child {
  border-right: none;
}

.header-block .block-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: .6em;
}

.article-header .format {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.editor {
  border: 1px solid #ccc;
  width: 1000px;
  margin: 1em auto;
  padding: 1em;
}

.editor-tools {
  padding: 1em;
  margin: 1em;
  border: 1px solid red;
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header1 {
  font-size: 44px;
  font-weight: 1000;
}

.header2 {
  font-size: 38px;
  font-weight: 800;
}

.header3 {
  font-size: 34px;
  font-weight: 600;
}

.header4 {
  font-size: 28px;
  font-weight: 400;
}

.header5 {
  font-size: 22px;
  font-weight: 450;
}

.header6 {
  font-size: 16px;
  font-weight: 400;
}

.paragraph {
  padding: 0.4em 0;
  font-weight: 200;
  outline: none;
}

.paragraph:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

.btn {
  padding: 0.4em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(246, 245, 245);
}

.btn:hover {
  background-color: rgb(209, 209, 209);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
